.row.justify-content-center
  .col-8
    %h2 Departamentos
    .card
      - if @departments.empty?
        .row.justify-content-center.my-3
          .col-12
          = image_tag 'team', class: 'empty-state'
        .row.justify-content-center
          .col-12
            %h5.text-center Aún no hay departamentos.
            .notice.text-center.my-3
              %small Puedes crear tu primer departamento utilizando el siguiente formulario.
      - else
        %table.table
          %thead
            %tr
              %th Nombre del departamento
              %th.text-center Cantidad de empleados
              %th.text-center Acciones

          %tbody
            - @departments.each do |department|
              %tr
                %td
                  = link_to department.name, department_employees_path(department)
                %td.text-center= department.employees.length
                %td.text-center
                  = link_to department_employees_path(department), class: 'btn btn-primary btn-sm mx-1' do
                    = icon 'fas', 'users'
                  = link_to departments_path(id: department), class: 'btn btn-outline-primary btn-sm mx-1' do
                    = icon 'fas', 'pencil-alt'
                  = link_to department, method: :delete, data: { confirm: 'Desea eliminar este departamento?' }, class: 'btn btn-outline-danger btn-sm mx-1' do
                    = icon 'fas', 'trash'
    %h2.my-4
      - if @department.persisted?
        = link_to departments_path do
          = icon 'fas', 'angle-left'
      = "#{ @department.persisted? ? 'Editar' : 'Nuevo'  } departamento"
    .card
      .card-body
        = render 'form'
